.services{
    padding: var(--main-padding-top) 0;
    background-color: var(--section-background);
    .container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 40px;
        .box{
            svg{

            }
            h3{

            }
            .info{
                a{

                }
            }
        }
    }
}